#exportPattern("^[[:alpha:]]+")
export(yuimaGUI)

importFrom(shiny, runApp)
import("shinyBS")
importFrom("quantmod",getSymbols)
import("DT")
import("shinyjs")
import("yuima")
import("shinydashboard")




