h1, h2, h3, h4, h5, h6, p {
  color: #CDCECD;
}

a:link, a:visited, a:active {
    color: #53ea7c;
}

a:hover {
    color: #f076eb;
}

tr{
  background-color: #dddcdc;
  color: black;
}
tr:nth-child(even) {
  background-color: #dddcdc;
}
th{
  background-color: #BDC9BD;
  color: black;
}


.skin-blue .main-header .logo {
                              background-color: black;
                              }
.skin-blue .main-header .navbar {
                              background-color: black;
                              }   
.skin-blue .main-sidebar {
                              background-color: black;
                              font-family: "Times New Roman", Times, serif;
                              }
.content-wrapper, .right-side {
                              background-color:  #282828;
                              }
         
.hTitle {
  color: #edeeed;
  font-weight: bold;
}

.hModal {
  color: black;
}

.modal-title {
  color: black;
  font-size: 150%;
  text-align: center;
} 

.modal-body .shiny-input-container{
  font-family: Georgia, sans-serif;
  color: black;
}

.hrHeader{
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #edeeed;
    text-align: center;
    border-color: #c0afaf;
}

.hrHeader:after {
    content: '\00A7';
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #282828;
}

.shiny-input-container{
  color: #CDCECD;
  font-family: Georgia, sans-serif;
}

.progress {
  width: 100%;
  background-color: black;
	border-radius: .7em;
}

.dataTables_filter label {
    color: #CDCECD;
}

.dataTables_filter input {
    color: black;
}

.form-control {
  text-align: center;
}

.irs-max, .irs-min {display: none;}
.irs-single, .irs-from, .irs-to, .irs-bar-edge, .irs-bar {
  background: black;
  border-color: black;
  font-family: "Times New Roman", Georgia, Serif;
}

#sessionButtons {
  text-align: center;
}

#symb {
  text-align: left;
}

#finDataGo{
  width: 21.3em;
  color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	border-radius: .7em;
	box-shadow: 2px 2px 2px #bbb;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}

#advancedSettingsButtonApplyDelta, #advancedSettingsButtonApplyAllDelta, #advancedSettingsButtonApplyModel, #advancedSettingsButtonApplyAllModel, #advancedSettingsButtonApplyGeneral, #advancedSettingsButtonApplyAllModelGeneral, #advancedSettingsButtonApplyAllGeneral, #buttonApplyRange, #buttonApplyAllRange, #simulate_button_apply_nsim, #simulate_button_applyAll_nsim, #simulate_button_apply_xinit, #simulate_button_applyAll_xinit, #simulate_button_apply_range, #simulate_button_applyAll_range, #simulate_button_apply_advancedSettings, #simulate_button_applyAll_advancedSettings, #parametric_modal_button_applyDelta, #parametric_modal_button_applyAllDelta, #parametric_modal_button_applyGeneral, #parametric_modal_button_applyAllModelGeneral, #parametric_modal_button_applyModel, #parametric_modal_button_applyAllModel, #parametric_buttonApplyRange, #parametric_buttonApplyAllRange {
  width: 100%;
  color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	border-radius: .7em;
	box-shadow: 2px 2px 2px #bbb;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}

#yourFileGo {
  width: 40%;
  color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	border-radius: .7em;
	box-shadow: 2px 2px 2px #bbb;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}

#finDataDelete, #finDataDeleteAll, #yourFileDelete, #yourFileDeleteAll, #buttonSelect_models_Univariate, #buttonSelectAll_models_Univariate, #buttonDelete_models_Univariate, #buttonDeleteAll_models_Univariate, #databaseModelsDelete, #databaseModelsDeleteAll, #simulation_button_deleteModels, #simulation_button_deleteAllModels, #simulate_button_selectModels, #simulate_button_selectAllModels, #simulate_monitor_button_delete, #simulate_monitor_button_deleteAll, #simulate_model_usr_button_select, #simulate_model_usr_button_selectAll, #simulate_model_usr_button_delete, #simulate_model_usr_button_deleteAll, #cluster_button_select, #cluster_button_selectAll, #cluster_button_delete, #cluster_button_deleteAll, #changepoint_button_select, #changepoint_button_selectAll, #changepoint_button_delete, #changepoint_button_deleteAll, #hedging_button_delete, #hedging_button_deleteAll, #parametric_changepoint_button_select, #parametric_changepoint_button_selectAll, #parametric_changepoint_button_delete, #parametric_changepoint_button_deleteAll, #llag_button_select, #llag_button_selectAll, #llag_button_delete, #llag_button_deleteAll, #changepoint_button_delete_estimated, #changepoint_button_deleteAll_estimated, #parametric_changepoint_button_delete_estimated, #parametric_changepoint_button_deleteAll_estimated, #llag_delete_analysis, #llag_deleteAll_analysis, #cluster_button_delete_analysis, #cluster_button_deleteAll_analysis {
  font-size: 110%;
  width: 100%;  
  color: black;
	background-color: #BDC9BD;
	text-shadow: none;
	border: none;
	box-shadow: none;
}

#finDataSave, #yourFileSave, #simulate_showSimulation_button_saveTrajectory, #simulate_showSimulation_button_saveHist, #cluster_button_saveDendogram, #cluster_button_saveScaling2D {
  color: #ffffff;
	background: radial-gradient(#001a1a, #00b3b3, #001a1a);
	font-size: 110%;
  width: 100%;  
}


#DisplayPlotsRange, #simulate_button_setSimulation, #parametric_button_setRange {
  width: 40%;
  height: 39px;
  color: #ffffff;
	border-radius: 2em;
	background: linear-gradient(#202220, #159609, #202220);
}

#advancedSettingsButton, #simulate_button_advancedSettings, #parametric_button_settings {
  width: 50%;
  height: 39px;
  color: #ffffff;
	border-radius: 2em;
	background: linear-gradient(#202220, #963131, #202220);
}

#simulate_model_usr_button_save, #usr_model_button_save, #hedging_button_saveHedging {
  color: #ffffff;
	background: radial-gradient(#001a00, #00b300, #001a00);
	font-size: 110%;
  width: 100%; 
}

#usr_model_button_delete {
  width: 30%;
  height: 39px;
  color: #ffffff;
	background: radial-gradient(#202220, #963131, #202220);
}

#EstimateModels, #simulate_simulateModels, #cluster_button_startCluster, #changepoint_button_startEstimation, #parametric_changepoint_button_startEstimation, #hedging_button_startComputation, #llag_button_startEstimation {
  width: 100%;  
	color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}


#yourFilePreviewText{
  color: #CDCECD;
  font-size: 3em;
  font-family: Goudy Old Style, Serif;
}

#simulate_showSimulation_hist_probability_text {
  font-size: 125%;
  font-family: Goudy Old Style, Serif;
}

#hedging_capital_text {
  font-size: 125%;
  font-family: Goudy Old Style, Serif;
  color: black;
}


#SymbolName{
  font-size: 160%;
  color: #CDCECD;
  font-weight: bold;
  
}

#PrintModelLatex, #estimatedModelsLatex, #usr_modelClass_latex, #usr_model_saved_latex, #simulate_PrintModelLatex, #parametric_changepoint_info{
  font-size: 125%;
  color: #CDCECD;
}

#estimatedModelsTable{
  font-size: 110%;
}




#llag_maxLag, #changepoint_pvalue, #cluster_distance_minkowskiPower {
  width:50%;
}


#simulate_monitor_button_showSimulation, #databaseModels_button_showResults, #hedging_button_show {
  color: #ffffff;
	background: radial-gradient(#662900, #ff8533, #662900);
	font-size: 110%;
  width: 100%;  
}

#panel_simulations, #panel_estimates, #panel_hedging, #panel_cpoint{
  font-size: 120%;
}

#saveSession, #loadSession {
  color: black;
}

#yourFileMoreSettings {
  background-color: #282828;
}

.js-irs-2 .irs-from, .js-irs-2 .irs-to, .js-irs-2 .irs-bar-edge, .js-irs-2 .irs-bar {
  background: #282828;
  border-color: #282828;
  font-family: "Times New Roman", Georgia, Serif;
}

#hedging_modal_id_hidden {
  visibility: hidden;
}
