.skin-blue .main-header .logo {
                              background-color: black;
                              }
.skin-blue .main-header .navbar {
                              background-color: black;
                              }   
.skin-blue .main-sidebar {
                              background-color: black;
                              font-family: "Times New Roman", Times, serif;
                              }
.content-wrapper, .right-side {
                              background-color:  #282828;
                              }
                              
                    
.thumbnail:hover {
    width:250px;
    height:auto;
    margin-top: -100px;
}

tr{
  background-color: #dddcdc;
  color: black;
}
tr:nth-child(even) {
  background-color: #dddcdc;
}
th{
  background-color: #BDC9BD;
  color: black;
}

#symb {
  text-align: left;
}

#finDataGo{
  width: 21.3em;
  color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	border-radius: .7em;
	box-shadow: 2px 2px 2px #bbb;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}

#advancedSettingsButtonApplyDelta, #advancedSettingsButtonApplyAllDelta, #advancedSettingsButtonApplyModel, #advancedSettingsButtonApplyAllModel, #advancedSettingsButtonApplyGeneral, #advancedSettingsButtonApplyAllModelGeneral, #advancedSettingsButtonApplyAllGeneral, #buttonApplyRange, #buttonApplyAllRange, #simulate_button_apply_nsim, #simulate_button_applyAll_nsim, #simulate_button_apply_xinit, #simulate_button_applyAll_xinit, #simulate_button_apply_range, #simulate_button_applyAll_range, #simulate_button_apply_advancedSettings, #simulate_button_applyAll_advancedSettings, #simulate_showSimulation_button_saveTrajectory, #simulate_showSimulation_button_saveHist, #cluster_button_saveDendogram, #cluster_button_saveScaling2D {
  width: 100%;
  color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	border-radius: .7em;
	box-shadow: 2px 2px 2px #bbb;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}

#yourFileGo {
  width: 40%;
  color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	border-radius: .7em;
	box-shadow: 2px 2px 2px #bbb;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}

#finDataDelete, #finDataDeleteAll, #finDataSave, #yourFileDelete, #yourFileDeleteAll, #yourFileSave, #buttonSelect_models_Univariate, #buttonSelectAll_models_Univariate, #buttonDelete_models_Univariate, #buttonDeleteAll_models_Univariate, #databaseModelsDelete, #databaseModelsDeleteAll, #simulation_button_deleteModels, #simulation_button_deleteAllModels, #simulate_button_selectModels, #simulate_button_selectAllModels, #simulate_monitor_button_delete, #simulate_monitor_button_deleteAll, #simulate_monitor_button_showSimulation, #simulate_model_usr_button_select, #simulate_model_usr_button_selectAll, #simulate_model_usr_button_delete, #simulate_model_usr_button_deleteAll, #cluster_button_select, #cluster_button_selectAll, #cluster_button_delete, #cluster_button_deleteAll, #changepoint_button_select, #changepoint_button_selectAll, #changepoint_button_delete, #changepoint_button_deleteAll, #hedging_button_delete, #hedging_button_deleteAll, #parametric_changepoint_button_select, #parametric_changepoint_button_selectAll, #parametric_changepoint_button_delete, #parametric_changepoint_button_deleteAll {
  font-size: 110%;
  width: 100%;  
  color: black;
	background-color: #BDC9BD;
	text-shadow: none;
	border: none;
	box-shadow: none;
}

#DisplayPlotsRange, #simulate_button_setSimulation {
  width: 40%;
  height: 39px;
  color: #ffffff;
	border-radius: 2em;
	background: linear-gradient(#202220, #159609, #202220);
}

#advancedSettingsButton, #simulate_button_advancedSettings, #hedging_button_commissionPlan {
  width: 40%;
  height: 39px;
  color: #ffffff;
	border-radius: 2em;
	background: linear-gradient(#202220, #963131, #202220);
}

#simulate_model_usr_button_save, #usr_model_button_save, #hedging_button_saveHedging {
  width: 40%;
  height: 39px;
  color: #ffffff;
	background: radial-gradient(#061218, #184860, #061218);
}

#usr_model_button_delete {
  width: 30%;
  height: 39px;
  color: #ffffff;
	background: radial-gradient(#202220, #963131, #202220);
}

#EstimateModels, #simulate_simulateModels, #cluster_button_startCluster, #changepoint_button_startEstimation, #parametric_changepoint_button_startEstimation, #hedging_button_startComputation {
  width: 100%;  
	color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}

.shiny-input-container{
  color: #CDCECD;
  font-family: Georgia, sans-serif;
}

.progress {
  width: 100%;
  background-color: black;
	border-radius: .7em;
}


a:link, a:visited, a:active {
    color: #53ea7c;
}

a:hover {
    color: #f076eb;
}

.shiny-output-error-myclass{
  font-size: 150%;
  text-align: center;
  color: #dd4924;
}

.shiny-output-error-myclass_notification{
  font-size: 150%;
  text-align: center;
  color: #40d067;
}

#yourFilePreviewText{
  color: #CDCECD;
  font-size: 3em;
  font-family: Goudy Old Style, Serif;
}

#simulate_showSimulation_hist_probability_text {
  font-size: 125%;
  font-family: Goudy Old Style, Serif;
}

#hedging_probability_text, #hedging_mean_text, #hedging_capital_text, #hedging_meanPerc_text {
  font-size: 125%;
  font-family: Goudy Old Style, Serif;
  color: #edeeed;
}

.hrHeader{
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #edeeed;
    text-align: center;
    border-color: #c0afaf;
}

.hrHeader:after {
    content: '\00A7';
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #282828;
}

#SymbolName{
  font-size: 160%;
  color: #CDCECD;
  font-weight: bold;
  
}

#PrintModelLatex, #estimatedModelsLatex, #usr_modelClass_latex, #usr_model_saved_latex, #simulate_PrintModelLatex{
  font-size: 125%;
  color: #CDCECD;
}

#estimatedModelsTable{
  font-size: 110%;
}

.dataTables_filter label {
    color: #CDCECD;
}

.dataTables_filter input {
    color: black;
}

#panel_simulations, #panel_estimates, #panel_hedging, #panel_cpoint{
  font-size: 120%;
}

.form-control {
  text-align: center;
}


