.skin-blue .main-header .logo {
                              background-color: #0F0F0E;
                              }
.skin-blue .main-header .navbar {
                              background-color: #0F0F0E;
                              }   
.skin-blue .main-sidebar {
                              background-color: #0F0F0E;
                              font-family: "Times New Roman", Times, serif;
                              }
.content-wrapper, .right-side {
                              background-color:  #363e32;
                              }
tr{
  background-color: #dddcdc;
  color: black;
}
tr:nth-child(even) {
  background-color: #dddcdc;
}
th{
  background-color: #BDC9BD;
  color: black;
}

#finDataGo{
  width: 21.3em;
  color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	border-radius: .7em;
	box-shadow: 2px 2px 2px #bbb;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}

#advancedSettingsButtonApplyDelta, #advancedSettingsButtonApplyAllDelta, #advancedSettingsButtonApplyModel, #advancedSettingsButtonApplyAllModel, #advancedSettingsButtonApplyGeneral, #advancedSettingsButtonApplyAllModelGeneral, #advancedSettingsButtonApplyAllGeneral, #buttonApplyRange, #buttonApplyAllRange, #simulate_button_apply_nsim, #simulate_button_applyAll_nsim, #simulate_button_apply_xinit, #simulate_button_applyAll_xinit, #simulate_button_apply_range, #simulate_button_applyAll_range, #simulate_button_apply_advancedSettings, #simulate_button_applyAll_advancedSettings, #simulate_showSimulation_button_saveTrajectory, #simulate_showSimulation_button_saveHist{
  width: 100%;
  color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	border-radius: .7em;
	box-shadow: 2px 2px 2px #bbb;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}

#yourFileGo {
  width: 40%;
  color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	border-radius: .7em;
	box-shadow: 2px 2px 2px #bbb;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}

#finDataDelete, #finDataDeleteAll, #finDataSave, #yourFileDelete, #yourFileDeleteAll, #yourFileSave, #buttonSelect_models_Univariate, #buttonSelectAll_models_Univariate, #buttonDelete_models_Univariate, #buttonDeleteAll_models_Univariate, #databaseModelsDelete, #databaseModelsDeleteAll, #simulation_button_deleteModels, #simulation_button_deleteAllModels, #simulate_button_selectModels, #simulate_button_selectAllModels, #simulate_monitor_button_delete, #simulate_monitor_button_deleteAll, #simulate_monitor_button_showSimulation, #simulate_model_usr_button_select, #simulate_model_usr_button_selectAll, #simulate_model_usr_button_delete, #simulate_model_usr_button_deleteAll{
  font-size: 110%;
  width: 100%;  
  color: black;
	background-color: #BDC9BD;
	text-shadow: none;
	border: none;
	box-shadow: none;
}

#DisplayPlotsRange, #simulate_button_setSimulation {
  width: 40%;
  height: 39px;
  color: #ffffff;
	border-radius: 2em;
	background: linear-gradient(#202220, #159609, #202220);
}

#advancedSettingsButton, #simulate_button_advancedSettings, #usr_model_button_delete {
  width: 40%;
  height: 39px;
  color: #ffffff;
	border-radius: 2em;
	background: linear-gradient(#202220, #963131, #202220);
}

#simulate_model_usr_button_save,#usr_model_button_save {
  width: 30%;
  height: 39px;
  color: #ffffff;
	background: radial-gradient(#a5bdc9, #184860, #061218);
}

#hideEstimatedModels, #showEstimatedModels, #EstimateModels, #simulate_simulateModels, #simulate_button_showMonitor, #simulate_button_hideMonitor {
  width: 100%;  
	color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}

.shiny-input-container{
  color: #CDCECD;
  font-family: Georgia, sans-serif;
}

.progress {
  width: 100%;
  background-color: black;
	border-radius: .7em;
}

::-webkit-file-upload-button {
	width: 50%;  
	color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	box-shadow: 2px 2px 2px #bbb;
	background-color: #202220;
	background: linear-gradient(#606D60, #202220, #606D60);
}


a:link, a:visited, a:active {
    color: #53ea7c;
}

a:hover {
    color: #f076eb;
}

.shiny-output-error-myclass{
  font-size: 150%;
  text-align: center;
  color: #dd4924;
}

.shiny-output-error-myclass_notification{
  font-size: 150%;
  text-align: center;
  color: #40d067;
}

#yourFilePreviewText{
  color: #CDCECD;
  font-size: 3em;
  font-family: Goudy Old Style, Serif;
}

#simulate_showSimulation_hist_probability_text{
  font-size: 125%;
  font-family: Goudy Old Style, Serif;
}

.hrHeader{
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #edeeed;
    text-align: center;
    border-color: #c0afaf;
}

.hrHeader:after {
    content: '\00A7';
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #363e32;
}

#SymbolName{
  font-size: 160%;
  color: #CDCECD;
  font-weight: bold;
  
}

#PrintModelLatex, #estimatedModelsLatex, #usr_modelClass_latex, #usr_model_saved_latex{
  font-size: 125%;
  color: #CDCECD;
}

#estimatedModelsTable{
  font-size: 110%;
}

.dataTables_filter label {
    color: #CDCECD;
}

.dataTables_filter input {
    color: black;
}

#panel_simulations, #panel_estimates{
  font-size: 120%;
  
}
